@import '~normalize.css/normalize.css';
@import './styles/colors';

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

.fab {
  position: fixed!important;
  bottom: 20px;
  right: 20px;
}

.wrapper {
  margin: 0 auto 0 auto;
  width: 95%;
}

.padding-top-25 {
  padding: 25px 0 0 0;
}

header {
  padding: 25px 0;
  width: 100%;
  background: $purple;
  color: #fff;

  .header-top {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid $light-purple;
    justify-content: space-between;
    flex-direction: row;
    display: flex;

    .header-top-logo {
      font-size: 19px;
      font-weight: 700;
    }
  }

  .header-links {
    padding: 25px 0 0 0;
    justify-content: flex-start;
    flex-direction: row;
    display: flex;

    .header-links-date {
      padding: 0 25px 0 0;
      border-right: 2px solid $light-purple;
    }

    nav {
      margin: 0 0 0 25px;

      ul {
        padding: 0;
        margin: 0;
        list-style: none;

        .active {
          opacity: .7;
        }

        li {
          margin: 0 20px 0 0;
          display: inline;

          .link {
            color: #fff;
            text-decoration: none;

            &:hover {
              opacity: .7;
            }
          }
        }
      }
    }
  }
}

.margin-top-10-not-on-first {
  &:not(:first-child) {
    margin-top: 10px;
  }
}